<!DOCTYPE html>

<html>
<head>
  <title>Valentin's Web Server</title>
  <meta  charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"
</head>
<body>
  Before
  <br>
  <%- body %> 
  <br>
  After
<footer>
  <p>By Valentin Wissler</a></p>
</footer>
</body>
</html>
